.dashboardPage {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contentcontainer{
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 1.2rem;
  font-weight: bold;
}
.logoutButton {
    background: transparent;
    color: #ff5555;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    width: 49%;
    max-width: 80px;
    height: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.buttonsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.addClient{
  background: #48C3F0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  width: 49%;
  max-width: 150px;
  height: 50px;
  font-weight: bold;
}
.content {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .header{
    flex-direction: row;
  }
  .buttonsContent{
    flex-direction: row;
    max-width: 200px;
    height: 50px;
  }
 
}